@{
    ViewBag.Title = "About";
}

<div class="about-img">
    <img src="" alt="Sorry, but we couldn't find a picture." />
</div>

<div class="about-left">
    <h2>Our Purpose:</h2>
    <p>Some stuff here.</p>
    <h2>Our History:</h2>
    <p>Some stuff here.</p>
</div>

<h6>P.S. We are real people.</h6>
