@{
    ViewBag.Title = "Contact Us";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<address>
    <strong>General:</strong>   <a href="mailto:Test@student.neumont.edu">Test@student.neumont.edu</a>
</address>*@
<div class="sec">
    <div class="sec-left">
        <h2>Ways to Reach Us:</h2>
        <div class="contact">
            <h4>Dylan Shoupe:</h4>
            <p>Phone: xxx-xxx-xxxx</p>
            <p>Email: <a href="mailto:Test@student.neumont.edu">Test@student.neumont.edu</a></p>
        </div>
        <div class="contact">
            <h4>Kent Stringer:</h4>
            <p>Phone: xxx-xxx-xxxx</p>
            <p>Email: <a href="mailto:Test@student.neumont.edu">Test@student.neumont.edu</a></p>
        </div>
        <div class="contact">
            <h4>Samantha Waugh:</h4>
            <p>Phone: xxx-xxx-xxxx</p>
            <p>Email: <a href="mailto:Test@student.neumont.edu">Test@student.neumont.edu</a></p>
        </div>
    </div>
    <div class="sec-right">
        <h3>Where to find Us:</h3>
        <p class="address">
            143 S Main Street <br />
            Salt Lake City, UT 84111
        </p>
    </div>
</div>