@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Home Page</h1>
    <br />
    <div class="Past">
	   <h4>Past Due</h4>
    </div>
    <br />
    <hr />
    <div class="Present">
        <h4>Today</h4>
    </div>
    <br />
    <hr />
    <div class="Future">
        <h4>Coming Up</h4>
    </div>
    <br />
</div>