@model TaskService.Models.AllTasks
@{
    ViewBag.Title = "Home Page";
}



<div class="ind">
    <aside class="i-left">
        <h2>Tasks for Today:</h2>
        @foreach (var task in Model.Tasks)
	   {
            @Html.Partial("_PartialTask", task)
        }
    </aside>

    <aside class="i-right">
        <h3>Previous Month's Velocity @ViewBag.Velocity</h3>
	   <img src="~/Content/TempImages/Chart.jpg" width="390" height="150"/>
    </aside>
</div>