@model TaskService.Models.AllTasks
@{
    ViewBag.Title = "Home Page";
}

<div class="ind">
    <aside class="i-left">
        <h2>Tasks for Today:</h2>
        @foreach (var task in Model.Tasks)
	   {
            @Html.Partial("_PartialTask", task)
        }
    </aside>

    @*<aside class="i-right">
        <h3>Your Schedual for Today</h3>
        <div class="calander">
            Here will be the calander
        </div>
    </aside>*@
</div>