/*generic*/
* {
    margin: 0;
    padding: 0;
}
html {
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 300px;
    min-width: 400px;
    font-size: 16px;
}
body {
    z-index: -20;
    /*position: absolute;
    right: 0;
    width: calc(100%-17%);
    min-width: calc(100% - 70px);
    /*height:100vh;*/
    /*margin-left: 100px;*/
    margin-left: 100px;
    width: calc(100% - 100px);
    min-width: 340px;
}
h2 {
    color: black;
    text-decoration: underline solid black;
    padding: .3em;
}
hr {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 2px gray;
    width: 98%;
    margin-bottom:5px;
}
p{
    padding:5px 10px 5px 0;
}

/* Set padding to keep content from hitting the edges */
/*
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    display: block;
    width: 100px;
    height: 100%;
}
.navbar-nav{
    text-align:center;
    height:100%;
}
.collapse, .container {
    text-align: left;
    padding: 0;
    margin: 0;
}
.navbar-right {
    padding: 0;
    margin: 0;
    width: 80px;
}*/

/*the two mains*/
.page-content {
    z-index: 1;
    position: relative;
    right: 0;
    height:100%;
    width:100%;
}
.navbar {
    z-index: 0;
    position: absolute;
    left: 0;
    width: 100px;
    font-family: sans-serif;
}

/*The nav back*/
.navbar-fixed-left {
    position: fixed;
    left: 0;
    text-align: left;
    width: 100px; /*17%;
    min-width: 70px;
    max-width: 100px;*/
    height: 100%;
    background-color: black;
    color: white;
}

/*The head*/
.navbar-header {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
    background-color: black;
}
.navbar-header a {
        color: gray;
        text-decoration: underline solid white;
        font-weight: 700;
        font-size: 24px;
        font-family: sans-serifs; /*find what font it is actually using*/
    }
.navbar-header a:hover {
     text-decoration: underline solid gray;
}
.navbar-header a:active {
    color: white;
    text-decoration: underline solid white;
}
/*links, .navbar-collapse,*/
.collapse {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*the main links, .nav*/
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: white;
    /*transition-duration: .5s;*/
    padding-left: 10%;
    padding-bottom: 3%;
    width:100px;
}
.nav a:hover {
    text-decoration: underline solid gray;
    /*background: white;
    color: black;*/
}
.nav hr {
    border: none;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 2px gray;
    width: 100%;
    margin: 100% 0 10px 0;
}
.top {
    padding-bottom: 20px;
    background-color: black;
}
/*the login partial links, .nav, .navbar-nav*/
.bottom {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.navbar-right {
    height: 60px;
    width: 100px;
}

/*specials*/
.indentP {
    text-align: justify;
    text-indent: 2em;
}
.center{
    text-align:center;
}
.btn {
    font-size: 16px;
    color: white;
    background-color: #111;
    border: 3px outset #aaa;
    min-height: 1.25em;
    padding: .3em 1.5em;
    margin: 5px 0;
    transition-duration: .5s;
}
.btn:hover {
    background-color: #333;
}
.btn:active {
    background-color: #444;
    border: 3px inset #aaa;
}
.input-box, .form-control {
    min-height: 1.25em;
    padding: 3px 5px;
    margin: 3px 0;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 3px groove #aaa;
    border-left: 3px groove #777;
    border-bottom: 3px ridge #777;
    border-right: 3px ridge #aaa;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*Testing*/
.outline {
    border: 2px dashed purple;
}

/*Main*/
/*Still need to work out the kinks and how to do the daily schedual*/
.ind {
    display: flex;
    flex-wrap: wrap;
}
.i-left {
    width: 64%;
    min-width: 200px;
    padding-bottom: 20px;
}
.i-right {
    width: 34%;
    min-width: 100px;
    margin-left: auto;
    padding-right: 0;
    background: #eee;
    border: 3px ridge #aaa;
    border-top: 3px groove #aaa;
    border-right: none;
    box-shadow: 2px 5px 10px black;
}

/*About*/
.about-left{
    padding:5px 0 20px 5px;
}
.about-left p {
    color: black;
    padding: 5px 10px;
    width: 50%;
    min-width: 100px;
    max-width: 500px;
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
}
.about-img {
    padding: 2px;
    margin: 10px 15px 2px 2px;
    float: right;
    width: 25%;
    min-width: 50px;
    max-width: 300px;
    height: 25%;
    min-height: 50px;
    max-height: 300px;
    background-color: black;
    color: white;
    border-bottom: 4px groove #bbb;
    border-top: 4px ridge #bbb;
    border-left: 4px ridge #888;
    border-right: 4px groove #888;
}

/*Contact Us*/
/*Would like to get the address to be in top right when there is enough room*/
.contact{
    padding:5px 10px;
}
.contact h4 {
    color: black;
    text-decoration: underline solid black;
    padding-top: .3em;
}
.sec {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
.sec-left{
    padding-bottom:20px;
}
.sec-right {
    margin-left: auto;
    padding-right: 15px;
}

/*New Task*/
.upper-block {
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
}
.f-right{
    margin-left:auto;
}
.form-group {
    display: block;
    text-align: left;
}
.form-group p {
    display:inline-flex;
    width: 100px;
}
.date-box, .form-group .form-control{
    width: 220px;
}
.des{
    padding:10px;
}
.des, .des-b {
    min-width: 220px;
    max-width: calc(100%-50px);
    overflow: hidden;
    text-align: left;
}

/*Task list*/
.task-list{
    padding-right:10px;
}
.task-list h4{
    margin-bottom: 5px; 
}
.sorting-bar {
    margin:0;
    font-size:16px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
    .sorting-bar li {
        margin-right: -5px;
        padding:0;
        display: inline-flex;
        flex-wrap: nowrap;
        list-style: none;
    }
    .sorting-bar a, .sr-head {
        text-align: center;
        border: none;
        border-right: 2px solid gray;
        text-align: center;
        padding: .4em 1em;
        color: white;
        background-color: black;
        transition-duration: 0.5s;
    }
.sorting-bar a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: underline solid black;
}
.sorting-bar a:active {
    color: white;
    background-color: #444;
}

.tl-sr-right {
    margin-left: auto;
    display: inline;
    padding: 2px;
}
/*.r-inner {
    display: flex;
    flex-wrap: wrap;
}*/
.sb-btn {
    text-align:center;
    padding: .2em 1em;
    font-size: 14px;
    background-color: white;
    color: black;
    border: 3px outset #aaa;
    transition-duration: 0.5s;
}
.sb-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #666;
}
.sb-btn:active {
    background-color: #444;
    border: 3px inset #aaa;
}

/*task Details*/
.btn-baseline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn-baseline h3{
    margin-left: 10px;
}
.td-right p {
    padding: 2px .5em;
}
.td-a {
    padding: 0;
    color: white;
    min-width: 50px;
    font-size: 12px;
    text-decoration: none;
}
.td-right {
    margin-left: auto;
    padding-right: 15px;
    text-align: center;
}
.td-subsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 15px;
}
.td-sub-right{
    margin-left:auto;
}

/*Task Partial*/
.t-checkbox {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border: 3px outset #aaa;
    transition-duration: .5s;
}
    .t-checkbox:hover {
        background-color: black;
        color: white;
        border: 3px outset #aaa;
    }
    .t-checkbox:active {
        border: 3px inset #aaa;
    }
    .t-checkbox:checked {
        background-color: white;
        color: black;
        border: 3px inset #aaa;
    }
.task-box {
    transition-duration: 0.3s;
    position: static;
    margin: 3px 0;
    padding: 5px;
    color: white;
    background-color: black;
    border: 3px groove #aaa;
    border-bottom: 3px ridge #777;
    border-right: 3px ridge #777;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*box-shadow: 2px 0 10px black;*/
}
.task-box:hover {
    box-shadow: 2px 0 10px black;
 }
.task-box hr{
    width:100%;
}
.t-top-bar {
    display: flex;
    flex-direction:row;
}
.t-top-bar div {
    position: relative;
    top: 2px;
    margin: 0 5%;
    font-size: 14px;
}
.t-top-right {
    font-size: 14px;
    margin-left: auto;
    display: inline-flex;
}
.t-top-right span{
    margin-top:2px;
    margin-right:2px;
    display:table-cell;
    vertical-align:middle;
}
.task-h3{
    position:relative;
    top:-1px;
    color: white;
    padding:2px;
    display:inline-flex;
}
.t-tag {
    font-size: 15px;
}
.t-body{
    padding:0 5px;
    font-size:16px;
}

/*Header*/
#headerDiv {
    /*z-index: 1;*/
    width: auto;
    text-align: center;
    background: black;
    border-bottom: 10px ridge gray;
}
header {
    padding: 8px 0 2px 0;
    color: white;
    font-size: 50px;
    font-family: 'godOfWar';
    font-weight: bold;
}
/*Foot*/
footer {
    /*position: sticky;
    bottom: 0;
    z-index: -1;*/
    width:auto;
    border: unset;
    border-top: 5px groove gray;
    border-bottom: 5px ridge gray;
    text-align: center;
    background: black;
}
footer p {
    margin: 0.1em auto;
    color: white;
    font-size: 12px;
}

/*body div*/
.body-content {
    /*z-index: 2;*/
    background: white;
    color: black;
    padding: 10px;
    padding-right: 0;
}