@*@model TaskService.Models.TaskModel*@

@{
    ViewBag.Title = "Task Details";
}
<div class="task-details">
    <div class="btn-baseline">
        <div>
            <h2>Model.Name</h2>
            <h3>Tag: Model.Tags</h3>
        </div>
        <div class="td-right">
            <p class="btn">@Html.ActionLink("Edit", "EditProduct", new { id = 1 }, new { @class = "td-a" })</p>
            <p class="btn">@Html.ActionLink("Delete", "DeleteProduct", new { id = 1 }, new { @class = "td-a" })</p>
        </div>
    </div>
    <hr />
    <div class="td-subsection">
        <p>Est. Time: Model.EstimateDuration.ToString() hr</p>
        <p class="td-sub-right">Due: Model.DueDate</p>
    </div>
    <hr />
    <div class="t-body">
        <p>Model.Description</p>
    </div>
</div>
@*@Html.Partial("_PartialTask", Model)*@